@import "tailwindcss";

@theme {
  --color-background: #09090B;
  --color-card: #18181B;
  --color-border: #27272A;
  --color-primary: #2563EB;
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  --color-text-main: #FAFAFA;
  --color-muted: #A1A1AA;
  
  --font-sans: "Inter", "sans-serif";
}

@layer base {
  :root {
    background-color: var(--color-background);
    color: var(--color-text-main);
    font-family: var(--font-sans);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}